<% layout("/layouts/boilerplate.ejs") -%>
<body>
  <style>
    .nav-item{
      text-align:center;
      margin-right:1rem;
      margin-top:1rem;
      font-size:0.9rem;
    }
    .nav-item i{
      opacity: 0.6;
      font-size: 1.2rem;;
    }
    .nav-item i:hover{
      opacity: 1;
    }
    .filter{
      margin-top:0.5rem;
      border-radius:1.5rem;
    }
    .tax-info{
      display: none;
    }
    .toggle-switch{
      border:1px solid black;
      border-radius:1rem;
      height:3.25rem;
      padding:1rem 1.5rem 1rem 1.5rem;
      margin-right:1.5rem;
    }
    @media (max-width:1300px){
      .nav-item{
        margin-right:0.1rem;
      }
    }
  </style>
<nav class="navbar navbar-expand-xl bg-body-tertiary filter">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-fire"></i><p>Trending</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-bed"></i><p>Rooms</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-city"></i><p>Iconic Cities</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-sun"></i><p>Desert</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-umbrella-beach"></i><p>Beaches</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-tractor"></i><p>Farms</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-indian-rupee-sign"></i><p>Exclusive</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-mountain"></i><p>Mountains</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-snowflake"></i><p>Arctic</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-hands-praying"></i><p>Divine</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-building"></i><p>Metropolitan</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-solid fa-sailboat"></i><p>Houseboat</p></a>
        </li>
        <div class="form-check form-switch form-check-reverse nav-item toggle-switch">
          <input class="form-check-input" type="checkbox" id="switchCheckReverse">
          <label class="form-check-label" for="switchCheckReverse"><b>Display Total after Taxes</b></label>
        </div>
      </ul>
    </div>
  </div>
</nav>
  
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListing){%>
        <a href="/listings/<%=listing._id%>" style="text-decoration:none">
        <div class="card listing-card">
  <img src="<%=listing.image.url%>" class="card-img-top" alt="Listing Image">
  <div class="card-img-overlay"></div>
  <div class="card-body">
    <b><p class="card-text"> <%=listing.title%></b>
    <br>
       &#8377; <%=listing.price.toLocaleString("en-IN")%>/night
       <i class="tax-info"> &nbsp; +18% GST</i>
    </p>
  </div>
</div>
</a>
        <% } %>
        </div>
    <!-- <form method="GET" action="listings/new">
        <button>Create new Listing</button>
    </form> -->
</body>
<script>
  let taxSwitch = document.getElementById("switchCheckReverse");
  taxSwitch.addEventListener("click",()=>{
    let taxInfo = document.getElementsByClassName("tax-info");
    for (info of taxInfo){
      if(info.style.display != "inline"){
          info.style.display = "inline";
      }
      else{
          info.style.display = "none";
      }
    }
  })
</script>